.grid-container {
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}

.item1 {
  
  width: 28%;
  padding: 0 20px;
  text-align: center;
}
a{
  font-size: 15px;
  color: green;
  cursor: pointer;
}

.dataHead{
  text-align: center;
  font-weight: 800;
  color: green;
  background-color: beige;
}
.data{
  margin: 0 30px;
  text-align: justify;
  font-size: 20px;
}
